<html>
   <head>
     <title>Elly's blog</title>
   </head>
   <body>
    <p>Всем привет!</p>
      <div>
                <h1><a href="">Блог Элли</a></h1>
            </div>

            <div>
                <p>создан: 04.03.2017, 18:20</p>
                <h2><a href="">Про мое обучение на Питоне</a></h2>
                <p>Cколько б лошадь не работала, а  председателем колхоза не станет</p>
            </div>

            <div>
                
                <h2><a href="">Про работу</a></h2>
                <p>Нам бы день простоять, да ночь продержаться.</p>
            </div>
        </body>
    </html>